<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="myApp" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="##TITLE##">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      Angular Basics
    </title>

    <!-- Add to homescreen -->
    <link rel="manifest" href="manifest.json">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="TestApp">
    <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="TestApp">
    <!--<link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png">

     Tile icon for Win8 (144x144 + tile color)
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">
-->

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <!-- build:css styles/login.app.min.css -->
    <!--<link rel="stylesheet" href="css/style.css">-->
    <!-- endbuild -->

    <!-- Page styles -->
  <link rel="stylesheet" href="../../bower_components/angular-material/angular-material.css">
  <link rel="stylesheet" type="text/css" href="css/layout.css">
  <link rel="stylesheet" type="text/css" href="css/base.css">
</head>
<body class="ng-cloak">
<section id="news" class="page">
  <title>News</title>
  <div class="page-header">
  <header>
    <h2></h2>
    <address></address>
    <time datetime="2015-09-15"></time>
  </header>
  </div>

  <div class="page-content">
    <div class="content-nav" ng-controller="NavCtrl as navCtrl" layout="column">
      <md-autocomplete
        ng-disabled="navCtrl.isDisabled"
        md-no-cache="navCtrl.noCache"
        md-selected-item="navCtrl.selectedItem"
        md-search-text-change="navCtrl.searchTextChange(ctrl.searchText)"
        md-search-text="navCtrl.searchText"
        md-selected-item-change="navCtrl.selectedItemChange(item)"
        md-items="item in navCtrl.querySearch(navCtrl.searchText)"
        md-item-text="item.display"
        md-min-length="0"
        ng-model="search"
        placeholder="Search for products...">
        <md-item-template>
          <span md-highlight-text="navCtrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
        </md-item-template>
        <md-not-found>
          No matches found for "{{navCtrl.searchText}}".
        </md-not-found>
      </md-autocomplete>


      <nav>
        <ul class="nav">
          <li>
            <a href="#/">Home</a>
          </li>
          <li>
            <a href="#/about">About 1</a>
          </li>
          <li>
            <a href="#/about2">About 2</a>
          </li>
          <li>
            <a href="#/destroy">Seite 3</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="content-main">
      <main id="page-main" ng-view>
        <div>LEEER</div>
      </main>
    </div>
    <div class="content-aside">
      <aside ng-controller="CartController1">
        <p ng-hide="cart.getItems().length">Your Cart is empty.</p>
        <table ng-show="cart.getItems().length">
          <tr ng-repeat="item in cart.getItems() track by $index" class="cart-item">
            <td>{{item.description}}</td>
            <td>{{item.price | currency}}</td>
          </tr>
          <tr>
            <td>{{cart.getItems().length}} articles</td>
            <td>{{cart.sum() | currency}} Summe</td>
          </tr>
        </table>
      </aside>
    </div>
  </div>
  <div class="page-footer">
    <footer>
      <address>&copy; <time>2015</time> Companyname</address>
      <nav>
        <ul>
          <li><a href="terms.html">termins</a></li>
        </ul>
      </nav>
    </footer>
  </div>
</section>

<template id="table-row-image">
  <tr><td><img src="{image}" alt="{alt}"/></td></tr>
</template>

<section id="people" class="page">
  <title>People</title>
</section>



<!-- build:js(app/) scripts/login-app.min.js -->
<!--<script src="js/basics.js"></script>-->
<!--<script src="js/constructors.js"></script>-->
<!--<script src="js/module.js"></script>-->
<!--<script src="js/main-for-worker.js"></script>-->
<script src="../../bower_components/angular/angular.js"></script>
<script src="../../bower_components/angular-route/angular-route.js"></script>
<script src="../../bower_components/angular-animate/angular-animate.js"></script>
<script src="../../bower_components/angular-aria/angular-aria.js"></script>
<script src="../../bower_components/angular-material/angular-material.js"></script>
<script src="js/my-app.js"></script>
<!-- endbuild -->
</body>
</html>
